# ignore dataset images files

data/

# ignore utilitary generated images
util/**/*.png
util/**/*.jpg

sketch-tool/

# ignore python cache
**/__pycache__

# ignore jupyper notebook checkpoints
.ipynb_checkpoints/
